#agent-list-content{
    width: 80%;
}
#agent-list-content ul{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#agent-list-content ul li{
    width: 32%;
    aspect-ratio: 3/4;
    margin-top: 20px;
    border: 1px solid lightblue;
}
#agent-list-content ul li img{
    width: 100%;
}
#agent-list-content ul li h1{
    margin: 20px 20px;
    font-family: 'Times New Roman', Times, serif;
}#agent-list-content ul li p{
    margin: 20px;
    font-size: 1.2em;
}
