@media screen and (max-width:500px) {
    /*=====latest property==== */
    #latest{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    #latest-wrap{
        width: 90%;
    }
    #latest-title{
        display: flex;
        height: 130px;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    #latest-title h1{
        font-size: 1.5em;
        width: 100%;
    }
    #latest-title ul{
        display: flex;
        width: 100%;
        justify-content: space-evenly;
    }
    #latest-title ul li{
        width: 100px;
        height: 30px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
    }
    /*===latest-content====*/
    #latest-tag_content{
        display: flex;
        justify-content: center;
    }
    #latest-tag_content >ul{
        display: flex;
        justify-content: space-between;
        width: 90%;
        flex-wrap: wrap;
    }
    #latest-tag_content >ul >li{
        width: 100%;
        aspect-ratio: 3/4;
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        border: 1px solid lightblue;
    }

    #latest-tag_content > ul>li>img{
        width: 100%;
        aspect-ratio: 4/3;
    }

    .tag-content_item ul:first-child{
        display: flex;
        width: 90%;
        justify-content: space-between;
        align-items: center;
        height: 15%;
        margin: 20px 0 0 20px;
    }
    .tag-content_item ul:first-child h1{
            font-size: 1.5em;
            height: 100%;
    }
    .heart{
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            color: gray;
            border-radius: 50%;
    }
    .heart i{
            margin: 0;
    }

    .tag-content_item p {
            margin-left: 20px;
            margin-top: 10px;
            color: lightgray;
    }
    .tag-content_item p i{
        color: #00c3ff;
    }
    .tag-content_item>button{
        width: 100px;
            background-color: rgb(227, 227, 227);
            border: none;
            border-radius: 5px;
            margin-left: 20px;
            margin-top: 20px;
            transition: all .2s linear;
            &:hover{
                background-color: #00ffbf;
            }
    }

    .tag-content_item h2{
        font-size: 2em;
        width: 100%;
        margin: 20px 0 0 20px;
    }
    .tag-content_item h2 span{
        color: rgb(109, 181, 1);
    }

    
     
    .tag-content_item{
        display: flex;
        flex-wrap: wrap;
    }
    
    
    
    
    .tag-content_item ul:last-child{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 0;
    }
    .tag-content_item hr{
        width: 100%;
        margin: 10px 0 10px 0;
    }
    .property-home{
        width: 100%;
    }
    .property-home li{
        display: flex;
        align-items:center;
        flex-wrap: wrap;
        padding-bottom: 10px;
    }
    .property-home li p{
        width: 100%;
    }
    .property-home li p:first-child{
        color: black;
        font-weight: 500;
    }

    /*==showmore===*/
    #show-more{
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center; 
    }
    #show-more i{
        font-size: 1.7em;
        transition: all .2s linear;
        background: -webkit-linear-gradient(45deg,#3700ff, #dd00ff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        &:hover{
            background: -webkit-linear-gradient(45deg,#ffffff, #1900ff);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 2em;
        }
    }

    /*========popular-places===========*/
    #popular-places{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    #popular-places_wrap{
        width: 90%;
    }
    #popular-places_wrap h1{
        font-size: 1.5em;
        margin-bottom: 20px;
    }
    #popular-places_wrap hr{
        width: 20%;
        margin-bottom: 20px;
    }
    #place-content{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    #big-item{
        width: 100%;
        height: 100%;
    }
    #big-item img{
        width: 100%;
        height: 100%;
        margin-bottom: 10px;
    }

    #other-item{
        width: 100%;
        aspect-ratio: 1;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: space-between;
    }
    #other-item img:nth-child(1){
        width: 100%;
        height: 50%;
    }
    #other-item img:nth-child(2),
    #other-item img:nth-child(3)
    {
        width: 100%;
        margin-top: 10px;
    }
    
    


    /*===out service====*/
    #out-service{
        width: 100%;
        margin-top:40px ;
        background-color: rgb(241, 241, 241);
        padding-bottom: 30px;
    }
    #out-service h1{
        width: 100%;
        text-align: center;
        font-size: 1.5em;
        margin-top: 20px;
    }
    #out-service ul{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }
    #out-service ul li{
        width: 100%;
        aspect-ratio: 4/3;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        
    }
    #out-service ul li:hover i{
        background-image: radial-gradient(white 40%,rgba(255, 255, 255, 0) 60%);
        transition: all .3s linear;
    }
    #out-service ul li i{
        background-image: radial-gradient(white 40%,rgba(255, 255, 255, 0) 60%);
        width: 60%;
        height: 100%;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3em;
    }
    #out-service ul li p{
        width: 80%;
        display: flex;
        justify-content: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    /*======out agent=======*/
    #out-agent{
        width: 100%;
        margin-top: 40px;
    }
    #out-agent h1{
        font-size: 1.5em;
        margin-bottom: 20px;
        margin-left: 20px;
    }
    #out-agent hr{
        width: 10%;
        margin-bottom: 20px;
    }
    #agent-slide{
        display: flex;
        align-items: center;
    }
    #agent-slide button{
        width: 30px;
        aspect-ratio: 1;
        border-radius: 50%;
       
       display: flex;
       justify-content: center;
       align-items: center;
       border: none;
       margin: 0 20px;
       transition: all .2s linear;
    }
    #agent-slide button:nth-child(1):hover{
        border-radius: 82% 18% 18% 82% / 48% 49% 51% 52% ;
        background-image: linear-gradient(45deg,rgb(255, 215, 230),rgb(162, 143, 255));
        margin-left: 5px;
        color: white;
    }
    #agent-slide button:last-child:hover{
        border-radius: 18% 82% 84% 16% / 48% 49% 51% 52% ;
        background-image: linear-gradient(45deg,rgb(255, 213, 228),rgb(163, 144, 255));
        margin-right: 5px;
        color: white;
    }

    #agent-wrap-slide{
        width: 100%;
        overflow-x: scroll;
        &::-webkit-scrollbar{
            background-color: transparent;
        }
    }
    #agent-slide ul{
        display: flex;
        width: 2000px;
    }
    #agent-slide ul li{
        width: 300px;
        margin-right: 30px;
        border-radius: 10px;
        overflow: hidden;
        border: 1px solid lightblue;
    }
    #agent-slide ul li img{
        width: 100%;
    }
    #agent-slide ul li h1{
        width: 90%;
        margin-top: 10px;
        margin-left: 10%;
        margin-bottom: 0;
    }
    #agent-slide ul li p{
        width: 90%;
        margin: 0;
        margin-left: 10%;
        padding-bottom: 10px;
    }


    /*======out testimo=========*/
    #out-testi{
        margin-top: 40px;
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: rgb(236, 236, 236);
    }
    #out-testi_wrap{
        width: 80%;
    }
    #out-testi_wrap h1{
        font-size: 1.5em;
        color: rgb(0, 0, 0);
        margin-top: 40px;

    }
    #out-testi_wrap h5{
        color: rgb(0, 0, 0);
        font-size: 1.3em;
    }
    #out-testi_wrap p{
        color: rgb(0, 0, 0);
    }
    
    #out-testi hr{
        width: 10%;
        margin-bottom: 20px;
    }
    .test-item{
        width: 100%;
        height: 400px;
        display: flex;
        justify-content: center;
    }
    .test-item img{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin-top: 30px;
    }
    
    /*===stories===*/
    #storie{
        width: 80%;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    #storie >h1{
        width: 100%;
        text-align: center;
        font-family:'Times New Roman', Times, serif;
        margin-bottom: 30px;
    }
    #storie>ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    #storie >ul>li{
        width: 100%;
        border: 1px solid lightblue;
        margin-top: 10px;
    } 
    #storie>ul>li img{
        width: 100%;
    }
    #storie>ul>li h1{
        font-size: 1.2em;
        margin: 15px;
    }
    .storie-item ul{
        width: 100%;
    }
    .storie-item ul{
        box-sizing: border-box;
        margin: 15px;
        width: 90%;
        display: flex;
        justify-content: space-between;
    }
    


    /**/
    .storie-item ul:not(:last-child) li:first-child {
        background-color: greenyellow;
        width: 100px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        transition: all .1s linear;
        &:hover{
            background-color: green;
            color: white;
            cursor: pointer;
        }
      } 

      .storie-item ul:last-child:hover{
            cursor: pointer;
      }

      /*====partners=====*/
      #partners{
        width: 80%;
        height: 500px;
        margin-bottom: 100px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
      #partners h1{
        width: 100%;
        height: 10%;
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
        margin-bottom: 20px;
      }
      #partners ul{
        display: flex;
        height: 60%;
        width: 100%;
      }
      
      /*====keyframe===*/
        @keyframes moving {
        0%{
            transform: translateY(-50px);
        }
        100%{
            transform: translateY(50px);
        }
        }

        @keyframes moving2 {
            0%{
                transform: translateY(50px) ;
            }
            100%{
                transform: translateY(-50px);
            }
        }

      #partners ul li{
        position: relative;
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
      }
      

      #partners ul:not(:last-child) li:nth-of-type(odd){
        animation: moving 3s linear  infinite alternate;
      }
      #partners ul:not(:last-child) li:nth-of-type(even){
        animation: moving2 3s linear  infinite alternate;
      }
      #partners h2,#partners p{
        width: 100%;
        text-align: center;
        height: 10%;margin-top: 10px;
      }
      #partners form{
        display: flex;
        position: relative;
        width: 50%;
        height: 15%;
        align-items: center;
      }
      #partners form input{
        width: 100%;
        border: none;
        border-bottom: 1px solid lightblue;
        height: 60%;
      }
      #partners form button{
        position: absolute;
        right: 20px;
        border: none;
        background: transparent;
        font-size: 1.5em;
        color: lightblue;
        
      }
      
    /*=========================footer style=====================================*/
      footer{
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: rgb(106, 106, 106);
      }
      #footer-wrap{
        width: 100%;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    #ontop{
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right:50px;
        bottom: 50%;
        background-color: white;
        width: 60px;
        height: 60px;
        border: none;
        border-radius: 50%;
        transition: all .2s linear;
        &:hover{
            border-radius: 48% 52% 70% 30% / 87% 90% 10% 13% ;
            background-image: linear-gradient(45deg,pink,rgb(156, 156, 255));
            transform: translateY(-15px);
            color: white;
        }
    }

    #footer-content{
        width: 80%;
        display: flex;
        align-items: center; 
       
    }
    #footer-content >ul{
        width: 100%;
        height: 80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    #footer-content >ul> li{
        width: 100%;
        display: flex;
        justify-content: center;
        padding-top: 20px;
    }
    #footer-content >ul> li >ul> h1{
        font-weight: 700;
        font-family: 'Times New Roman', Times, serif;
        background: -webkit-linear-gradient(45deg,#00c3ff, #00ffbf,rgb(111, 0, 255));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 1.3em;
    }
      /*LEE HOME-item*/
    #LEE HOME-item li{
        margin-top: 10px;
        font-size: .9em;
        &:nth-child(2){
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            margin-left: 16px;
        }
    }
    #LEE HOME-item li a:hover{
        color: #ffffff;
    }
    #LEE HOME-item li i{
        color: #00c3ff;  
        cursor: pointer;
    }
      /*==usefulllink==*/
    #userfull-item{
        height: 100%;
    }
    #userfull-item >ul{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    #userfull-item>ul h1{
        width: 100%;
        text-align: start;
    }
    #userfull-item>ul >li{
        width: 60%; 
        font-size: .8em;
    }
    #userfull-item>ul >li ul{
        display: flex;
        width: 100%; 
        justify-content: space-around;
    }
    #userfull-item>ul >li ul li{
        width: 50%;
        margin-left: 40px;
        &:hover{
            color: white;
        }
    }

      /*==latestproperty==*/
    #latest-item >ul>li>ul {
            display: flex;
    }
    #latest-item >ul>li>ul li {
        margin-right: 20px;
        margin-top: 20px;
    }
    #latest-item >ul>li>ul li img{
        transition: all .1s linear;
    }
    #latest-item >ul>li>ul li p{
        font-size: .7em;
    }
    #latest-item >ul>li>ul li img:hover{
        transform: scale(1.1);
        border-radius: 10px;
    }
    #latest-item >ul>li>ul li:hover span{
        color: greenyellow;
    }
   
    #footer-end{
        width: 100%;
        height: 100px;
        border-top: 1px solid rgb(81, 81, 81);
    }
    #footer-end >ul{
        width: 100%;
        display: flex;
        justify-content: center;
        height: 100%;
        align-items: center;
        flex-wrap: wrap;
    }
    #footer-end >ul >li{
        width: 100%;
        text-align: center;
    }
    #footer-end ul li ul{
        display: flex;
        justify-content: center;
    }
    #footer-end ul li ul li{
        margin-left: 20px;
    }

}



