/*==========font set============*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Tilt+Neon&display=swap');
/* font-family: 'Montserrat', sans-serif;
font-family: 'Tilt Neon', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Montserrat:wght@300&family=Tilt+Neon&display=swap');
/* font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Tilt Neon', sans-serif; */
/*========reset css=========*/
html,
body,
div,
ul,
li,
h1,
p,
hr {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: rgb(48, 48, 48);
}

i {
    margin-right: 7px;
}

/*===========style===========*/
@media screen and (min-width:1000px) {
    #overview-bar {
        width: 100%;
        height: 50px;
        background-color: lightblue;
        display: flex;
        justify-content: center;
    }

    #overview-bar_wrap {
        width: 80%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #more-option {
        display: flex;
        align-items: center;
    }

    #more-option>ul {
        display: flex;
        height: 100%;
    }

    #more-option>ul li {
        margin-right: 25px;
        transition: all .1s linear;

        &:hover {
            transform: scale(1.4);
            color: black;
        }
    }


    /*============navbarstyle===============*/
    #nav-contact {
        height: 100px;
        display: flex;
        justify-content: center;
    }

    #nav-contact_wrap {
        width: 80%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #nav-contact_wrap>a {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 1.5em;
    }

    #nav-contact_wrap i {
        margin-right: 7px;
        color: lightskyblue;
        font-size: 1.5em;
    }

    #contactAndSearch {
        display: flex;
        width: 60%;
        justify-content: space-between;
    }

    #contactAndSearch a {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
    }

    /*==========popular-project===========*/
    #popular-project {
        position: relative;
    }

    #popular-project_wrap {
        width: 100%;
        height: 10%;
        position: absolute;
        top: 0;
        display: flex;
        justify-content: center;
        z-index: 1;
    }

    #menu {
        width: 80%;
        height: 100%;
        background-color: rgb(125, 125, 203);
        display: flex;
        background-color: gray;
        justify-content: space-between;
    }

    #menu-item {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: rgb(63, 63, 63);
    }

    #menu-item>li {
        color: white;
        position: relative;
        height: 100%;
        display: flex;
        align-items: center;
        transition: all .2s linear;

        &:hover {
            box-shadow: 0 10px 8px -10px rgb(255, 255, 255) inset;
        }
    }

    #menu-item #homepage:hover>ul {
        display: flex;
    }

    /*==========homepage==========*/
    #homepage i {
        margin-left: 5px;
    }

    #homepage ul {
        position: absolute;
        width: 300%;
        height: 300px;
        z-index: 1;
        background-color: white;
        flex-wrap: wrap;
        display: none;
        justify-content: center;
        align-content: flex-start;
        border-radius: 10px;
        transform: translateY(180px);
    }

    #homepage ul li {
        width: 90%;
        color: black;
        height: 40px;
        font-family: 'Times New Roman', Times, serif;
        font-size: 1.2em;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        transition: all .2s linear;

        &:nth-child(1) {
            margin-top: 20px;
        }

        &:hover {
            background-color: lightblue;
            border-top: 2px solid white;
        }
    }

    /*=============Property==============*/
    #property {
        position: relative;
    }

    #property:hover>ul {
        display: flex;
    }

    #property>ul {
        position: absolute;
        background-color: white;
        transform: translateX(-200px) translateY(230px);
        z-index: 1;
        width: 1000px;
        height: 400px;
        border-radius: 10px;
        justify-content: space-around;
        display: none;
    }

    #property>ul ul {
        width: 20%;
        height: 90%;
        color: black;
        margin-top: 20px;
        font-weight: 600;
    }

    #property>ul ul li {
        height: 40px;
        font-size: .9em;
        font-weight: 300;
        transition: all .2s linear;

        &:nth-child(1) {
            margin-top: 20px;
        }

        &:hover {
            background-color: lightblue;
            border-top: 2px solid rgb(255, 255, 255);
            font-weight: 500;
        }
    }

    /*================page================*/
    #page i {
        margin-left: 5px;
    }

    #page:hover>ul {
        display: flex;
    }

    #page ul {
        position: absolute;
        width: 300%;
        height: 300px;
        z-index: 1;
        background-color: white;
        flex-wrap: wrap;
        display: none;
        justify-content: center;
        align-content: flex-start;
        border-radius: 10px;
        transform: translateY(180px);
    }

    #page ul li {
        width: 90%;
        color: black;
        height: 40px;
        font-family: 'Times New Roman', Times, serif;
        font-size: 1.2em;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        transition: all .2s linear;

        &:nth-child(1) {
            margin-top: 20px;
        }

        &:hover {
            background-color: lightblue;
            border-top: 2px solid white;
        }
    }

    /*================blog=================*/
    #blog i {
        margin-left: 5px;
    }

    #blog:hover>ul {
        display: flex;
    }

    #blog ul {
        position: absolute;
        width: 300%;
        height: 300px;
        z-index: 1;
        background-color: white;
        flex-wrap: wrap;
        display: none;
        justify-content: center;
        align-content: flex-start;
        border-radius: 10px;
        transform: translateY(180px);
    }

    #blog ul li {
        width: 90%;
        color: black;
        height: 40px;
        font-family: 'Times New Roman', Times, serif;
        font-size: 1.2em;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        transition: all .2s linear;

        &:nth-child(1) {
            margin-top: 20px;
        }

        &:hover {
            background-color: lightblue;
            border-top: 2px solid white;
        }
    }

    #menu-account {
        width: 30%;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: rgb(63, 63, 63);
    }

    #menu-account li {
        color: white;
    }

    #menu-account li i {
        margin-right: 5px;
    }

    #menu-account li a {
        color: white;
    }

    #menu-submit {
        width: 20%;
        height: 100%;
        background-color: rgba(132, 252, 128, 0.396);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.3em;
        color: white;
        font-weight: 600;
    }


    #project-info {
        position: absolute;
        width: 400px;
        height: 260px;
        background-color: rgb(255, 255, 255);
        top: 300%;
        left: 300px;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: animation .3s linear;
    }

    @keyframes projectI {
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
            transform: scale(1.2);
        }
    }

    #project-info_wrap {
        width: 90%;
        height: 90%;
    }

    #project-info_wrap>h1 {
        font-size: 1.5em;
        height: 20%;
        background-color: brown;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        color: white;
    }

    #project-property {
        height: 80%;
        display: flex;
        flex-wrap: wrap;
        align-content: space-around;
    }

    #project-property p {
        font-size: 1.2em;
        width: 100%;
    }

    #project-property h1 {
        color: greenyellow;
    }

    #project-property h1 span {
        color: black;
    }

    #project-property .btn {
        margin-right: 7px;
    }


    /*==============find your home===================*/
    #find-house {
        width: 100%;
        height: 350px;
        display: flex;
        justify-content: center;

    }

    #find-house_wrap {
        width: 80%;
    }

    #find-house_wrap h1 {
        font-size: 1.5em;
        display: flex;
        align-items: center;
        height: 70px;
    }

    #find-house_wrap form {
        margin-top: 30px;

    }

    #form-wrap1 {
        width: 100%;
        display: flex;
        justify-content: space-between;
        height: 60px;
    }

    #form-wrap1 input,
    #form-wrap1 select {
        width: 23%;
        padding-left: 10px;
        border-radius: 7px;
        outline: none;
        border: 1px solid rgb(220, 220, 220);

        &:focus {
            border: 1px solid rgb(0, 191, 255);
        }
    }

    #form-wrap2 {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
    }

    #form-wrap2 input,
    #form-wrap2 select {
        width: 23%;
        padding-left: 10px;
        border-radius: 7px;
        outline: none;
        border: 1px solid rgb(220, 220, 220);

        &:focus {
            border: 1px solid rgb(0, 191, 255);
        }
    }

    #rangevalue {
        width: 23%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        border: none;
    }

    #rangevalue input {
        width: 90%;
        border: none;
        padding: 0;
    }


    #wrap-sl {
        width: 23%;
        height: 50px;
        display: flex;
        justify-content: space-between;
    }

    #wrap-sl select {
        width: 45%;
        height: 100%;

    }

    #others {
        margin-top: 15px;
        display: flex;
        justify-content: space-between;
    }

    #others i {
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #005eff;
        border-radius: 50%;
        transition: all .3s linear;

        &:hover {
            color: rgb(255, 119, 0);
            border: 15px solid rgb(0, 0, 0);
            transform: rotateZ(90deg);
        }
    }

    #others input {
        height: 50px;
        width: 23%;
        background-color: rgb(0, 255, 157);
        border-radius: 10px;
        border: none;
        font-size: 1.7em;
    }

}





/*==========================================tablet and ipad style==============================================*/
/*=============================================================================================================*/

@media screen and (min-width:500px) and (max-width:999px) {
    #overview-bar {
        width: 100%;
        height: 50px;
        background-color: lightblue;
        display: flex;
        justify-content: center;
    }

    #overview-bar_wrap {
        width: 80%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #more-option {
        display: flex;
        align-items: center;
    }

    #more-option>ul {
        display: flex;
        height: 100%;
    }

    #more-option>ul li {
        margin-right: 25px;
        transition: all .1s linear;

        &:hover {
            transform: scale(1.4);
            color: black;
        }
    }


    /*============navbarstyle===============*/
    #nav-contact {
        height: 100px;
        display: flex;
        justify-content: center;
    }

    #nav-contact_wrap {
        width: 90%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #nav-contact_wrap>a {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 1.5em;
    }

    #nav-contact_wrap i {
        margin-right: 7px;
        color: lightskyblue;
        font-size: 1.5em;
    }

    #contactAndSearch {
        display: flex;
        width: 70%;
        justify-content: space-between;
        align-items: center;
    }

    #contactAndSearch a {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
    }

    #contactAndSearch form{
        height: 70%;
        width: 25%;
    }
    /*==========popular-project===========*/
    #popular-project {
        position: relative;
    }

    #popular-project_wrap {
        width: 100%;
        height: 10%;
        position: absolute;
        top: 0;
        display: flex;
        justify-content: center;
        z-index: 1;
    }

    #menu {
        width: 80%;
        height: 100%;
        background-color: rgb(125, 125, 203);
        display: flex;
        background-color: gray;
        justify-content: space-between;
    }

    #menu-item {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: rgb(63, 63, 63);
    }

    #menu-item>li {
        color: white;
        position: relative;
        height: 100%;
        display: flex;
        align-items: center;
        transition: all .2s linear;

        &:hover {
            box-shadow: 0 10px 8px -10px rgb(255, 255, 255) inset;
        }
    }

    #menu-item #homepage:hover>ul {
        display: flex;
    }

    /*==========homepage==========*/
    #homepage i {
        margin-left: 5px;
    }

    #homepage ul {
        position: absolute;
        width: 300%;
        height: 300px;
        z-index: 1;
        background-color: white;
        flex-wrap: wrap;
        display: none;
        justify-content: center;
        align-content: flex-start;
        border-radius: 10px;
        transform: translateY(180px);
    }

    #homepage ul li {
        width: 90%;
        color: black;
        height: 40px;
        font-family: 'Times New Roman', Times, serif;
        font-size: 1.2em;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        transition: all .2s linear;

        &:nth-child(1) {
            margin-top: 20px;
        }

        &:hover {
            background-color: lightblue;
            border-top: 2px solid white;
        }
    }

    /*=============Property==============*/
    #property {
        position: relative;
    }

    #property:hover>ul {
        display: flex;
    }

    #property>ul {
        position: absolute;
        background-color: white;
        transform: translateX(-200px) translateY(230px);
        z-index: 1;
        width: 1000px;
        height: 400px;
        border-radius: 10px;
        justify-content: space-around;
        display: none;
    }

    #property>ul ul {
        width: 20%;
        height: 90%;
        color: black;
        margin-top: 20px;
        font-weight: 600;
    }

    #property>ul ul li {
        height: 40px;
        font-size: .9em;
        font-weight: 300;
        transition: all .2s linear;

        &:nth-child(1) {
            margin-top: 20px;
        }

        &:hover {
            background-color: lightblue;
            border-top: 2px solid rgb(255, 255, 255);
            font-weight: 500;
        }
    }

    /*================page================*/
    #page i {
        margin-left: 5px;
    }

    #page:hover>ul {
        display: flex;
    }

    #page ul {
        position: absolute;
        width: 300%;
        height: 300px;
        z-index: 1;
        background-color: white;
        flex-wrap: wrap;
        display: none;
        justify-content: center;
        align-content: flex-start;
        border-radius: 10px;
        transform: translateY(180px);
    }

    #page ul li {
        width: 90%;
        color: black;
        height: 40px;
        font-family: 'Times New Roman', Times, serif;
        font-size: 1.2em;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        transition: all .2s linear;

        &:nth-child(1) {
            margin-top: 20px;
        }

        &:hover {
            background-color: lightblue;
            border-top: 2px solid white;
        }
    }

    /*================blog=================*/
    #blog i {
        margin-left: 5px;
    }

    #blog:hover>ul {
        display: flex;
    }

    #blog ul {
        position: absolute;
        width: 300%;
        height: 300px;
        z-index: 1;
        background-color: white;
        flex-wrap: wrap;
        display: none;
        justify-content: center;
        align-content: flex-start;
        border-radius: 10px;
        transform: translateY(180px);
    }

    #blog ul li {
        width: 90%;
        color: black;
        height: 40px;
        font-family: 'Times New Roman', Times, serif;
        font-size: 1.2em;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        transition: all .2s linear;

        &:nth-child(1) {
            margin-top: 20px;
        }

        &:hover {
            background-color: lightblue;
            border-top: 2px solid white;
        }
    }

    #menu-account {
        width: 30%;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: rgb(63, 63, 63);
    }

    #menu-account li {
        color: white;
    }

    #menu-account li i {
        margin-right: 5px;
    }

    #menu-account li a {
        color: white;
    }

    #menu-submit {
        width: 20%;
        height: 100%;
        background-color: rgba(132, 252, 128, 0.396);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.7em;
        color: white;
        font-weight: 600;
    }


    #project-info {
        position: absolute;
        width: 350px;
        height: 230px;
        background-color: rgba(255, 255, 255, 0.294);
        top: 300%;
        left: 300px;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: animation .3s linear;
    }

    @keyframes projectI {
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
            transform: scale(1.2);
        }
    }

    #project-info_wrap {
        width: 90%;
        height: 90%;
    }

    #project-info_wrap>h1 {
        font-size: 1.5em;
        height: 20%;
        background-color: brown;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        color: white;
    }

    #project-property {
        height: 80%;
        display: flex;
        flex-wrap: wrap;
        align-content: space-around;
    }

    #project-property p {
        font-size: 1.2em;
        width: 100%;
    }

    #project-property h1 {
        color: greenyellow;
    }

    #project-property h1 span {
        color: black;
    }

    #project-property .btn {
        margin-right: 7px;
    }


    /*==============find your home===================*/
    #find-house {
        width: 100%;
        height: 350px;
        display: flex;
        justify-content: center;

    }

    #find-house_wrap {
        width: 80%;
    }

    #find-house_wrap h1 {
        font-size: 1.5em;
        display: flex;
        align-items: center;
        height: 70px;
    }

    #find-house_wrap form {
        margin-top: 30px;

    }

    #form-wrap1 {
        width: 100%;
        display: flex;
        justify-content: space-between;
        height: 60px;
    }

    #form-wrap1 input,
    #form-wrap1 select {
        width: 23%;
        padding-left: 10px;
        border-radius: 7px;
        outline: none;
        border: 1px solid rgb(220, 220, 220);

        &:focus {
            border: 1px solid rgb(0, 191, 255);
        }
    }

    #form-wrap2 {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
    }

    #form-wrap2 input,
    #form-wrap2 select {
        width: 23%;
        padding-left: 10px;
        border-radius: 7px;
        outline: none;
        border: 1px solid rgb(220, 220, 220);

        &:focus {
            border: 1px solid rgb(0, 191, 255);
        }
    }

    #rangevalue {
        width: 23%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        border: none;
    }

    #rangevalue input {
        width: 90%;
        border: none;
        padding: 0;
    }


    #wrap-sl {
        width: 23%;
        height: 50px;
        display: flex;
        justify-content: space-between;
    }

    #wrap-sl select {
        width: 45%;
        height: 100%;

    }

    #others {
        margin-top: 15px;
        display: flex;
        justify-content: space-between;
    }

    #others i {
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #005eff;
        border-radius: 50%;
        transition: all .3s linear;

        &:hover {
            color: rgb(255, 119, 0);
            border: 15px solid rgb(0, 0, 0);
            transform: rotateZ(90deg);
        }
    }

    #others input {
        height: 50px;
        width: 23%;
        background-color: rgb(0, 255, 157);
        border-radius: 10px;
        border: none;
        font-size: 1.7em;
    }

}